@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}
body {
  background: black;
  margin: 0;

}

.homePage {
  display: flex;
  /* background-color: #383838; */
  padding: 50px;
  margin:auto;
  max-width: 60%;
  color: #c4c4c2;
  border-radius: 7px;
  background: #383838;
  font-size: 20px;
  font-weight: 200;
}

.container{
  position: fixed;
  padding-bottom: 50px;
  background-color: #e7e7e5;
  max-height: 100%;
  left: 10%;
  right: 10%;
  max-width: 80%;
  min-height: 100%;
  margin: auto;

}
.header{
  position: relative;
  height: 150px;
  /* background-color: ; */
  width: 100%;
  margin-bottom: 20px;
  background: linear-gradient(#1d1d1d 40%, #c4c4c2);
}

.footer {
  position:fixed;
  padding: 5px 0px 5px;
  background: #383838;
  bottom: 0;
  width: 80%;
  text-align: center;
  color: #c4c4c2;
  font-size:small;
}

.navbar{
  position:absolute;
  background-color: #383838;
  width: 100%;
  height: 30px;
  bottom: 0;
  
}

.img{
  margin-left: 50px;
  width: 40%;
  height: 40%;

}


.txt {
  width: 70%;
}

.links{
  display:flex;
  align-items: center;
  justify-content: space-around;
  color: #d6d6d4;
  padding-top:6px;
  cursor: pointer;
  font-weight:700;
}
.linkActive{
  color: #ef6817;
}
.links :hover{
  opacity: 0.5;
}

.projectPage {
  display: flex;
  /* background-color: #383838; */
  /* height: 200px; */
  padding: 0;
  margin:auto;
  width: 90%;
  color: #c4c4c2;
  border-radius: 7px;
}

.aboutMe{
  display: flex;
  background-color: #383838;
  padding: 0;
  margin:auto;
  width: 80%;
}

.contactPage{
  display: flex;
  /* background-color: #383838; */
  padding: 50px;
  margin:auto;
  max-width: 500px;
  color: #c4c4c2;
  border-radius: 7px;
  background: linear-gradient(#111111,#525252);

}

.titlePost{
  color: #ef6817;
}